.LoginSection{
    margin-top: 3%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    max-width: 450px;
}
.LoginSection div{
    margin-top: 3%;
    width: 100%;
}

.loginButton{
    margin-top: 6%;
}