.header {
  width: 100vw;
  height: 60px;
  display: flex;
  position: fixed;
  top: 0;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.headerButtonsContainer {
  display: flex;
  flex-direction: row;
  /* width: 500px; */
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.logoutSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.userActionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  /* background-color: white; */
  margin-top: 0px;

  background-color: #fafafa;
  /* opacity: 0.5; */
  background-image: linear-gradient(0deg, #fafafa 50%, #f1f1f1 50%);
  background-size: 10px 10px;

  overflow-x: hidden;
}

.hero>video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin-top: 60px;
}

.hero {
  width: 100%;
  position: relative;
  background-color: black;
}

.hero-text {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  color: white;
  padding-bottom: 100px;
}

.getQButton {
  color: #DAA83E;
  font-weight: 800;
  background-color: white;
  font-size: 2rem;
  padding: 10px 20px;
  margin-bottom: 70px;
  border-radius: 15px;
}

.getQButton:hover {
  transition: 0.5s;
  curve: ease;
  box-shadow: 0 8px 0px 0 #DAA83E;
  cursor: pointer;
}

.hero-text>h1 {
  font-size: 70px;
  font-weight: 800;
  color: #DAA83E;
  text-shadow: -5px 5px 5px #00000085;
}

.hero-text>p {
  font-size: 28px;
  font-weight: 100;
}

.blank {
  background-color: black;
}

.flow {
  width: 100%;
  background-color: black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  gap: 10%;
}

.flow-item {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 8%;
  object-fit: contain;
  border-radius: 12px;
  background-color: #d69f29;
}

.map {
  width: 100%;
  height: auto;
}

.map>img {
  width: 100%;
  height: auto;
  object-fit: cover;

}

.map>video {
  width: 100%;
  /* height: 70vh; */
  object-fit: contain;
}

.about,
.service,
.trucks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* background-color: red; */
  width: 80%;
  padding: 30px 20px;
  /* gap: 30px; */
}

.about {
  gap: 40px;
}

.about-split {
  gap: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-split>h1 {
  font-size: 74px;
  margin: 0px;
}

.about-split>p {
  font-size: 18px;
  line-height: 2;
}

/* .about-split {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
} */

.about-left,
.about-right {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.about-left>img,
.about-right>img {
  height: 500px;
  width: 500px;
}

.about-left>img {
  border-radius: 50% 80% 50% 80%;
}

.about-right>img {
  border-radius: 80% 50% 80% 50%;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  flex: 1;
}

.about-info>h1 {
  font-size: 64px;
}

.about-info>ul>li {
  font-size: 18px;
  line-height: 2rem;
}

.service>h1 {
  font-size: 74px;
  color: white;
  text-align: center;
  margin: 0px;
  text-shadow: 2px 2px 4px #000000;
}

.service>h2 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

.serviceBackground {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../Assets/about1.jpg");
  background-repeat: no-repeat;
  padding: 30px 0px;
}

.service>p {
  font-size: 16px;
  line-height: 2rem;
  color: white;
}

.service-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 20px;
}

.service-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffe8b7;
  padding: 30px 30px;
  gap: 10px;
  border-radius: 12px;
  /* width: 50%; */
  height: 380px;
  object-fit: contain;
  background: rgba(255, 232, 183, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.service-box>img {
  width: 200px;
  height: 150px;
  object-fit: contain;
}

.service-box>p {
  line-height: 2rem;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.trucks>h1 {
  font-size: 74px;
}

.trucks>p {
  font-size: 16px;
}

.trucks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* Adjust the minimum and maximum width as needed */
  gap: 20px;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ebdbb8;
  border-radius: 12px;
}

.mobile {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 80px;
  /* background-color: blue; */
}

.mobile-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 80px;
  /* background-color: red; */
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-text h1 {
  font-size: 64px;
}

.mobile-text p {
  font-size: 16px;
}

.apply-button {
  background-color: var(--yellow);
  padding: 10px 30px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 30px;
}

.mobile-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-left>img {
  width: 100%;
}

.landing-footer {
  background-color: #323232;
  width: 100%;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.footer-box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center;s */
  /* gap: 30px; */
}

.footer-box>h2 {
  /* text-decoration: underline; */
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-links>a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.footer-box>img {
  width: 150px;
  object-fit: contain;
}

.footer-right {
  display: flex;
  justify-content: space-around;
  /* background-color: red; */
  margin-right: 50px;
  /* gap: 20px; */
}

.socialHandles {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  padding: 5px 15px;
  cursor: pointer;
}

.socialHandles:hover {
  background-color: #d69f29;
  transition: 0.5s;
  curve: ease;
  color: black;
}

@media only screen and (max-width: 1024px) {
  .flow {
    /* flex-direction: column; */
    gap: 30px;
  }

  .flow-item {
    width: 50%;
  }

  .getQButton {
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .map>video {
    height: 30vh;
    object-fit: cover;
  }

  .service-container {
    /* flex-direction: column; */
    grid-template-columns: 1fr;
  }

  .about-split {
    grid-template-columns: 1fr;
  }

  .about-left,
  .about-right {
    flex-direction: column;
    align-items: center;
  }

  .landing-footer {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .flow {
    flex-direction: column;
  }

  .hero-text>p {
    /* padding: 10px; */
  }

  .getQButton {
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .flow-item {
    width: 80%;
    height: 80px;
  }

  .about-grid {
    grid-template-columns: 1fr;
  }

  .service-box {
    height: 500px;
    width: 100%;
    padding: 0px;
  }

  .service-box>p {
    padding: 20px;
  }

  .mobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .apply-button {
    margin: 10px;
    font-size: 20px;
  }

  .headerButtonsContainer {
    display: none;
  }

  .landing-footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer-box {
    padding: 10px;
  }
}

@media only screen and (max-width: 425px) {
  .header {
    display: flex;
    flex-direction: row;
    height: auto;
    gap: 10px;
  }

  .hero-text {
    margin-top: 300px;
  }

  .hero>video {
    margin-top: 0px;
  }

  .headerButtonsContainer {
    display: none;
  }

  .userActionContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
  }

  .landing-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-left {
    display: flex;
    justify-content: center;
    /* background-color: red; */
    margin-left: 0px;
  }

  .footer-left>h1 {
    text-align: center;
  }

  .footer-right {
    flex-direction: column;
    margin-right: 0px;
  }

  .about-left>img,
  .about-right>img {
    width: 100%;
    height: 100%;
  }

  .mobile-text {
    /* background-color: red; */
    padding: 0px 32px;
  }

  .mobile-text h1,
  .trucks>h1,
  .service>h1,
  .about-info>h1,
  .about-split>h1,
  .hero-text>h1 {
    font-size: 48px;
  }
}