.orderTrackingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: white;
}

.trackPageSummary {
    display: flex;
    flex-direction: column;
}

.trackPagePrice {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.trackPageStatusSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #FFFAEF;
    border-radius: 15px;
}

.trackPageStepper {
    height: 100%;
    margin: 50px;
    display: flex;
    align-self: center;
}

.trackPageMap {
    width: 55%;
    height: 400px;
    border-radius: 15px;
    background-color: black;
    margin: 50px;
}