.orderComponent {
    display: flex;
    flex-direction: row;
    background-color: #FFF5DF;
    border-radius: 15px;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    width: 80vw;
}

.orderCompLeft {
    width: 40%;
}

.orderCompRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


@media (max-width: 768px) {
    .orderComponent {
        flex-direction: column;
    }

    .orderCompLeft {
        width: 100%;
    }

    .orderCompRight {
        align-items: center;
    }
}