/* .customerSignInMain {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: grid;
    grid-template-columns: 6fr 4fr;
} */

.customerSignInMain {
    background-color: white;
    display: flex;
    flex-direction: row;
    min-height: 100dvh;
}

.customerSignInImageContainer {
    background-color: #FFF9EB;
    background-image: url('../../../Assets/CustomerPortal/SignInPageBack.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.customerSignInImageContainer img {
    width: auto;
    height: 50%;
}


.customerSignInFieldsMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 30%;
}

.SignInFieldsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 15px;
    background-color: #FFECC0;
}

.CustomerSignInButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89%;
    height: 50px;
    border-radius: 15px;
    background-color: white;
    font-size: 1.2rem;
    transition: 0.3s;
    cursor: pointer;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.CustomerSignInButton:hover {
    background-color: #ffe65c;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px #ffe65c;
}

@media only screen and (max-width: 768px) {
    .customerSignInMain {
        display: flex;
        flex-direction: column;
    }

    .customerSignInImageContainer{
        padding: 5%;
        background-color: #FFF9EB;
        background-image: url('../../../Assets/CustomerPortal/SignInPageBack.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 60%;
    }

    .customerSignInFieldsMain{
        width: 90%;
    }

    .customerSignInImageContainer img {
        padding-top: 10%;
        max-width: 100%;
        height: 50%;
    }
  }